<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afa0ac">  <td>19/02/16 23:45:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TelecomProject.testhomepage()[pri:0, instance:driver.TelecomProject@4501b7af]">testhomepage</td> 
  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/02/16 23:46:15</td>   <td>28702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TelecomProject.testhomepage()[pri:0, instance:driver.TelecomProject@4501b7af]">testhomepage</td> 
  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/02/16 23:46:43</td>   <td>56248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TelecomProject.testhomepage()[pri:0, instance:driver.TelecomProject@4501b7af]">testhomepage</td> 
  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/02/16 23:47:15</td>   <td>89079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TelecomProject.testhomepage()[pri:0, instance:driver.TelecomProject@4501b7af]">testhomepage</td> 
  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/02/16 23:47:45</td>   <td>118816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TelecomProject.testhomepage()[pri:0, instance:driver.TelecomProject@4501b7af]">testhomepage</td> 
  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/02/16 23:48:14</td>   <td>147902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TelecomProject.testhomepage()[pri:0, instance:driver.TelecomProject@4501b7af]">testhomepage</td> 
  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/02/16 23:48:37</td>   <td>170939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TelecomProject.testhomepage()[pri:0, instance:driver.TelecomProject@4501b7af]">testhomepage</td> 
  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/02/16 23:49:02</td>   <td>195947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TelecomProject.testhomepage()[pri:0, instance:driver.TelecomProject@4501b7af]">testhomepage</td> 
  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/02/16 23:49:30</td>   <td>223527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TelecomProject.testhomepage()[pri:0, instance:driver.TelecomProject@4501b7af]">testhomepage</td> 
  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/02/16 23:49:56</td>   <td>249502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TelecomProject.testhomepage()[pri:0, instance:driver.TelecomProject@4501b7af]">testhomepage</td> 
  <td>main@1344645519</td>   <td></td> </tr>
</table>
